body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gameMessage {
  width: 100%;
}

.deck {
  display: flex;
  padding: 8px;
  width: 100%;
  flex-wrap: wrap;
}

img {
  margin: 8px;
  cursor: pointer;
  user-select: none;
}
